.privateHomeDesign {
    /* width: 100vw; */

    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 100px;

}