.privateHomeDesign {
    height: 92vh;
    width: 100vw;

    background-color:white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sidebar{
    border: 1px solid black;
    height: 40em;
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 10px;
}
.feed {
    border: 1px solid black;
    height: 40em;
    width: 70em;
}

.container-img{
    border: 1px solid black;
    height: 18em;
    width: 18em;
    margin-top: 20px;
    margin: 20px;
}
.container-data{
    border: 1px solid black;
    height: 25em;
    width: 18em;
    margin: 20px;
}
.data-style{
    border: 1px solid black;
    height: 2em;
    width: 14em;
    padding: 8px;
    margin: 2em;
    border-radius: 0.5em;
}