.inputDesign {
    height: 2.5em;
    width: 18em;
    padding: 5px;
    border: none;
    outline: none;
    margin: 2em;
    border-radius: 0.5em;
   
}

.inputProfileDesign {
    height: 2.5em;
    width: 20em;
    /* border: 0.1em solid #080707cb; */
    border-radius: 0.5em;
    margin: 1em;
    padding: 0.5em;

}

.inputForm{
    height: 1.5em;
    width: 20em;
    background: white;
    font-size: 18px;
    font-family: poppins;
    border-radius: 0.5em;
    margin: 1em;
    padding: 0.5em;
   

}

.inputDesign:focus {
    border-bottom: 1px solid #000; 

}
