
.ButtonDesign {
    height: 2.5em;
    width: 10em;
    padding: 5px;
    margin: 2em;
    border-radius: 0.5em;
    color:rgb(12, 12, 12);
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ed8687 ;
    font-size: 15px;
    font-family: poppins;
    opacity: 0.7;
}

.ButtonDesign:hover {

    cursor: pointer;
    transition: 0.2s;
    opacity: 1;
     
}