
.ButtonDesign {
    height: 2.5em;
    width: 10em;
    padding: 5px;
    margin: 2em;
    border-radius: 0.5em;
    color:white;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
   background-color: rgb(20, 34, 71) ;
    font-family: poppins;
    font-size: 15px;
    font-family: poppins;
    opacity: 1;
}

.ButtonDesign:hover {

    cursor: pointer;
    transition: 0.2s;
    opacity: 0.8;
     
}