
.card {
    min-width: 500px;
    height: 550px;
    box-sizing: border-box;
    padding: 4px;
    border: 1px solid black;
    margin-top: 40px;
    background-color:white;
    box-shadow: 0 0 6px rgba(51, 64, 63, 0.6);
}

.card > h1 {
    font-family: 'Poppins', sans-serif;
    color: black;
    
}

.card > img {
    width: 450px;
    height: 450px;
    aspect-ratio: 16/9;
    opacity: 1;
    margin-top: 20px;
}

.card > img:hover {
    opacity: 0.5;
}