
.card {
    width: 350px;
    height: 480px;
    box-sizing: border-box;
    padding: 0px;
    border: 1px solid  rgb(20, 34, 71);
    margin-top: 40px;
    background-color:white;
    box-shadow: 0 0 6px rgba(51, 64, 63, 0.6);
}

.card > h1 {
    font-family: 'Poppins', sans-serif;
    color: black;
    
}

.card > img {
    width: 340px;
    height: 350px;
    aspect-ratio: 16/9;
    opacity: 1;
    margin-top: 5px
}


.card-detail:hover {
    transform: scale(1.3);
    transition: transform 0.2s ;
    z-index: 2;
}
.like-icon{
    display: flex;
    align-items: flex-end;
    justify-content: start;
    
    margin-left: 20px;
    opacity: 0.7;
    font-size: 22px;
    position: relative;
    /* top: -30px; */
}
.like-icon:hover {
cursor: pointer;
transition: 0.2s;
opacity: 1;

}
.like-icon:active {
    transform: scale(1.05);
    transition: transform 0.2s;
}
.info-card{
    display: flex;
    flex-direction: column;
    align-items: start;
   font-size: 14;
   margin-left: 25px;
}
.content {
    margin-top: -20px;
}
.nickname {
    margin-top: -5px;
}