
.card {
    min-width: 400px;
    height: 450px;
    box-sizing: border-box;
    padding: 4px;
    border: 1px solid black;
    margin-top: 40px;
    background-color:white;
    box-shadow: 0 0 6px rgba(51, 64, 63, 0.6);
}

.card > h1 {
    font-family: 'Poppins', sans-serif;
    color: black;
    
}

.card > img {
    width: 350px;
    height: 350px;
    aspect-ratio: 16/9;
    opacity: 1;
    margin-top: 20px;
}


.card:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}