.headerDesign {
    box-sizing: border-box;
    height: 8vh;
    
   
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(60, 43, 120);
    /* margin-right: 15px; */
}

.header-logout {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: white;
     padding: 40px;
}

.header-logout:hover {
    cursor: pointer;
    transition: 0.5s;
    color: rgba(213, 188, 188, 0.9);
    text-decoration: underline;
    text-decoration-color: rgba(213, 188, 188, 0.9);
}