.headerDesign {
    box-sizing: border-box;
    height: 8vh;
    padding: 30px;
    background-color:rgb(101, 161, 183) ;   display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin-right: 15px; */
}

.header-logout {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: white;
}

.header-logout:hover {
    cursor: pointer;
    transition: 0.5s;
    color:  rgba(213, 188, 188, 0.9);
    text-decoration: underline;
    text-decoration-color: rgba(213, 188, 188, 0.9);
}
