.detailDesign{
    background-color:white(213, 188, 188, 1);
   

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* .delete-design{
    height: 2em;
    margin-left: 60px;
   
} */