.create-post-design {
 
   
    background-color:white(213, 188, 188, 1);
    box-shadow: 0 0 6px rgba(51, 64, 63, 0.6);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.container-post {
    width: 40em;
    height: 40em;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2em
}
.textarea-post{
    resize: none;
    height: 10em;
    width: 20em;
    
    font-size: 18px;
    font-family: poppins;
    border-radius: 0.5em;
    margin: 1em;
    padding: 0.5em;
   
}